@model Tms.Web.Email.Model.BaseEmailViewModel

<table style=" border:medium; border-style: solid ; border-color: black;">
	<tr style=" border:medium; border-style: solid ; border-color: black;">
		<td>Action Required By:</td>
		<td><b>Testing</b></td>
	</tr>
	<tr style=" border:medium; border-style: solid ; border-color: black;">
		<td>Entity Name:</td>
		<td><b>employee</b></td>
	</tr>
	<tr style=" border:medium; border-style: solid ; border-color: black;">
		<td>Comments:</td>
		<td><b>Comments</b></td>
	</tr>
	<tr>
		<td>Review Week:</td>
		<td><b>Review Week</b></td>
	</tr>
</table>

<p>Please access the <b>Documentation Modification Workpaper</b> and upload it into QMS upon completion of remediation using the following link:</p>
