USE [Tms]
GO
/****** Object:  Table [dbo].[Training]    Script Date: 2/24/2019 11:44:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Training](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDateTime] [DATETIME2] NOT NULL,
	[LastUpdatedBy] [int] NOT NULL,
	[LastUpdatedDateTime] [DATETIME2] NOT NULL,
	[PopulationKey] [int] NULL,
	[TrainingYear] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TrainingSession]    Script Date: 2/24/2019 11:44:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TrainingSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainingId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Region] [varchar](5) NULL,
	[MaxParticipants] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDateTime] [DATETIME2] NOT NULL,
	[LastUpdatedBy] [int] NOT NULL,
	[LastUpdatedDateTime] [DATETIME2] NOT NULL,
	[BusinessUnitKey] [char](5) NOT NULL,
	[RosterMaximum] [int] NULL,
	[SessionName] [varchar](50) NOT NULL,
	[BusinessAreaKey] [char](4) NULL,
 CONSTRAINT [PK__Trai__63C998A0D3A56290] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TrainingSessionRoster]    Script Date: 2/24/2019 11:44:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TrainingSessionRoster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainingSessionId] [int] NOT NULL,
	[UPN] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [varchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDateTime] [DATETIME2] NOT NULL,
	[LastUpdatedBy] [int] NOT NULL,
	[LastUpdatedDateTime] [DATETIME2] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Training] ON 

INSERT [dbo].[Training] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDateTime], [LastUpdatedBy], [LastUpdatedDateTime], [PopulationKey], [TrainingYear]) VALUES (3, N'MVC Advanced', N'Advanced .Net MVC training....', 1, 2809276, CAST(N'2015-11-05 02:18:24.267' AS DateTime), 1105675, CAST(N'2015-12-10 23:19:57.460' AS DateTime), 2, 2016)
INSERT [dbo].[Training] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDateTime], [LastUpdatedBy], [LastUpdatedDateTime], [PopulationKey], [TrainingYear]) VALUES (4, N'jQuery basic', N'Basics of jQuery....', 1, 2809276, CAST(N'2015-11-05 20:28:55.773' AS DateTime), 2809276, CAST(N'2015-11-05 20:28:55.773' AS DateTime), NULL, 2016)
SET IDENTITY_INSERT [dbo].[Training] OFF
SET IDENTITY_INSERT [dbo].[TrainingSession] ON 

INSERT [dbo].[TrainingSession] ([Id], [TrainingId], [StartDate], [EndDate], [Region], [MaxParticipants], [IsActive], [CreatedBy], [CreatedDateTime], [LastUpdatedBy], [LastUpdatedDateTime], [BusinessUnitKey], [RosterMaximum], [SessionName], [BusinessAreaKey]) VALUES (37, 14, CAST(N'2015-11-19 00:00:00.000' AS DateTime), CAST(N'2015-11-27 00:00:00.000' AS DateTime), N'East', 55, 1, 1105675, CAST(N'2015-11-19 16:39:57.723' AS DateTime), 1105675, CAST(N'2015-11-19 16:39:57.723' AS DateTime), N'US012', 0, N'Temp Session Name', NULL)
INSERT [dbo].[TrainingSession] ([Id], [TrainingId], [StartDate], [EndDate], [Region], [MaxParticipants], [IsActive], [CreatedBy], [CreatedDateTime], [LastUpdatedBy], [LastUpdatedDateTime], [BusinessUnitKey], [RosterMaximum], [SessionName], [BusinessAreaKey]) VALUES (38, 14, CAST(N'2015-11-19 00:00:00.000' AS DateTime), CAST(N'2015-11-25 00:00:00.000' AS DateTime), N'East', 43, 1, 1105675, CAST(N'2015-11-19 17:00:53.713' AS DateTime), 1105675, CAST(N'2015-11-19 17:00:53.713' AS DateTime), N'US607', 0, N'Temp Session Name', NULL)
INSERT [dbo].[TrainingSession] ([Id], [TrainingId], [StartDate], [EndDate], [Region], [MaxParticipants], [IsActive], [CreatedBy], [CreatedDateTime], [LastUpdatedBy], [LastUpdatedDateTime], [BusinessUnitKey], [RosterMaximum], [SessionName], [BusinessAreaKey]) VALUES (40, 19, CAST(N'2015-11-19 00:00:00.000' AS DateTime), CAST(N'2015-11-26 00:00:00.000' AS DateTime), N'East', 999999999, 1, 1105675, CAST(N'2015-11-19 17:20:10.003' AS DateTime), 2809276, CAST(N'2017-11-19 06:28:09.890' AS DateTime), N'US248', 999999999, N'Temp Session Name8', NULL)
SET IDENTITY_INSERT [dbo].[TrainingSession] OFF
SET IDENTITY_INSERT [dbo].[TrainingSessionRoster] ON 

INSERT [dbo].[TrainingSessionRoster] ([Id], [TrainingSessionId], [UPN], [Status], [Notes], [CreatedBy], [CreatedDateTime], [LastUpdatedBy], [LastUpdatedDateTime]) VALUES (64, 38, 1105675, 1, NULL, 1105675, CAST(N'2015-11-19 16:43:23.120' AS DateTime), 2809276, CAST(N'2015-11-23 16:29:33.153' AS DateTime))
INSERT [dbo].[TrainingSessionRoster] ([Id], [TrainingSessionId], [UPN], [Status], [Notes], [CreatedBy], [CreatedDateTime], [LastUpdatedBy], [LastUpdatedDateTime]) VALUES (113, 60, 1079905, 1, NULL, 2809276, CAST(N'2015-11-24 12:45:15.380' AS DateTime), 2798277, CAST(N'2015-11-26 09:29:24.760' AS DateTime))
INSERT [dbo].[TrainingSessionRoster] ([Id], [TrainingSessionId], [UPN], [Status], [Notes], [CreatedBy], [CreatedDateTime], [LastUpdatedBy], [LastUpdatedDateTime]) VALUES (114, 38, 2741402, 1, NULL, 2886240, CAST(N'2015-11-24 13:59:43.997' AS DateTime), 2886240, CAST(N'2015-11-24 14:01:25.023' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TrainingSessionRoster] OFF
ALTER TABLE [dbo].[TrainingSession]  WITH CHECK ADD  CONSTRAINT [FK_TrainingSession_TrainingId] FOREIGN KEY([TrainingId])
REFERENCES [dbo].[Training] ([Id])
GO
ALTER TABLE [dbo].[TrainingSession] CHECK CONSTRAINT [FK_TrainingSession_TrainingId]
GO
ALTER TABLE [dbo].[TrainingSessionRoster]  WITH CHECK ADD  CONSTRAINT [FK_TrainingSessionRoster_TrainingSessionId] FOREIGN KEY([TrainingSessionId])
REFERENCES [dbo].[TrainingSession] ([Id])
GO
ALTER TABLE [dbo].[TrainingSessionRoster] CHECK CONSTRAINT [FK_TrainingSessionRoster_TrainingSessionId]
GO
